body{
    background: linear-gradient(180deg,#ffffff,#f4f1ff,#e0d9fb); 
    font-family: 'Inter', sans-serif;
    padding-top: 100px;
    min-height: 100vh;
}
h1{
    margin-top: 80px;
    text-align: center;
    font-size: 40px;
}
.cuadradoDeAñadir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;

}


#btn_Agregar_vuelos, #btn_Actualizar_vuelos, #btn_Eliminar_vuelos{
    background-color:rgba(126, 56, 238, 0.897);
    color: white;
    width: 120px;
    height: 54px;
    border-radius: 20px;
    border:none;
    transition: transform 0.5s ease;
    padding: 0;
    margin-top: 0;
    
}
#btn_Agregar_vuelos:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#btn_Actualizar_vuelos:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#btn_Eliminar_vuelos:hover{
    transform: scale(1.1);
    transition: 0.5s;
}   
.todo{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;
}
.agregar_vuelos,.actualizar_vuelos,.eliminar_vuelos{
    display: none;
}
.viajes{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-right: 20px;
    margin-left: 30px;
    box-shadow: 0 8px 32px 0 rgba(118, 97, 202, 0.555); 
}
#tabla{
    display: none;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    overflow-x: auto;
    max-width: 800px;
    width: 100%;
}


label input{
    display: block;
    
}
input{
    width: 200px;
    height: 20px;
    border-radius: 10px;
    border:none;
    box-shadow:  0 4px 32px 0 rgba(0, 0, 0, 0.37);
}
#id{
    margin-left: 28px;
}
.viajes, .ventas h2{
    text-align: center;
}
.botones{
    padding: 10px;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.2s ease;
}
.botones:hover{
transform: scale(1.05);
}

.btn1,.btn2,.btn3{
    background-color: white ;
    border: none;
    transition: transform 0.4s  ease;
    border-radius: 5px;
    height: 40px;
    width: 80px;
}
.btn1:hover{
box-shadow: 0 8px 32px 0 rgba(126, 56, 238, 0.897);
   background-color:rgba(126, 56, 238, 0.897) ;
   color: white;
   font-size: small;
transform: scale(1.2);
transition: 0.5s;
}


.btn2:hover{
    box-shadow: 0 8px 32px 0 rgba(126, 56, 238, 0.897);
   background-color:rgba(126, 56, 238, 0.897) ;
   color: white;
   font-size: small;
  transform: scale(1.2);
    transition: 0.5s;
}
.btn3:hover{
    box-shadow: 0 8px 32px 0 rgba(126, 56, 238, 0.897);
   background-color:rgba(126, 56, 238, 0.897) ;
   color: white;
   font-size: small;
  transform: scale(1.2);
    transition: 0.5s;
}
.cuadrado{
    padding-top: 10px;
    display: flex;
    gap: 50px;
} 